body {
    padding-top: 50px;
}

.principal {
    padding: 40px 15px;
    text-align: center;
}
.navbar-inverse{
	background-color: #395781;
}
.navbar-brand > img {
    display: block;
    width: 60px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #dadada;
}
